<div class="footer-basic">
  <footer>
      <div class="social"><a href="#"><i class="bi bi-facebook"></i></a><a href="#"><i class="bi bi-instagram"></i></a><a href="#"><i class="bi bi-envelope"></i></a><a href="#"><i class="bi bi-telegram"></i></a></div>
      <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Home</a></li>
          <li class="list-inline-item"><a href="#">Gift Idea</a></li>
          <li class="list-inline-item"><a href="#">Produk</a></li>
          <li class="list-inline-item"><a href="#">Contact</a></li>
      </ul>
      <p class="copyright">Company Name ©Adinda</p>
  </footer>
</div>
{% include "scripts.html "%}