<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.html"%}
  </head>

<body>
    {% include "navbar.html" %}
    
    <section class="home">

      <div class="content">
          <h3>Melangkahlah dengan gaya dan kenyamanan di toko sepatu kami</h3>
      </div>
  <!-- Featured -->
  </section>
  <section class="featured" id="featured">
  
      <h1 class="heading"><span>Featured</span> </h1>
  
      <div class="box-container">
  
          <div class="box">
              <img src=".\static/p1.png" alt="">
              <h3>For Kids</h3>
              <a href="#" class="btn-produk">View More</a>
          </div>
          <div class="box">
              <img src=".\static/p2.png" alt="">
              <h3>For Men</h3>
              <a href="#" class="btn-produk">View More</a>
          </div>
  
          <div class="box">
              <img src=".\static/p3.png" alt="">
              <h3>For Women</h3>
              <a href="#" class="btn-produk">View More</a>
          </div>
  
  
      </div>
  
  </section>
  
  <!-- Best Seller -->
  
  <section class="best-seller" id="best-seller">
  
      <h1 class="heading"><span>Best Seller</span> </h1>
  
      <div class="box-container">
  
          <div class="box">
              <img src=".\static/sepatu1.jpeg" alt="">
              <h3>sepatu 1</h3>
              <div class="price">750.000 <span>1.000.000</span></div>
              <a href="#" class="btn-produk">add to cart</a>
          </div>
          <div class="box">
              <img src=".\static/sepatu2.jpeg" alt="">
              <h3>sepatu 2</h3>
              <div class="price">650.000 <span>900.000</span></div>
              <a href="#" class="btn-produk">add to cart</a>
          </div>
  
          <div class="box">
              <img src=".\static/sepatu3.jpg" alt="">
              <h3>sepatu 3</h3>
              <div class="price">1.200.000 <span>1.750.000</span></div>
              <a href="#" class="btn-produk">add to cart</a>
          </div>
  
          <div class="box">
              <img src=".\static/sepatu4.jpeg" alt="">
              <h3>sepatu 4</h3>
              <div class="price">1.500.000 <span>1.600.000</span></div>
              <a href="#" class="btn-produk">add to cart</a>
          </div>
  
          <div class="box">
              <img src=".\static/sepatu5.jpeg" alt="">
              <h3>sepatu 5</h3>
              <div class="price">700.000 <span>800.000</span></div>
              <a href="#" class="btn-produk">add to cart</a>
          </div>
  
          <div class="box">
              <img src=".\static/sepatu6.png" alt="">
              <h3>sepatu 6</h3>
              <div class="price">1.500.000 <span>1.650.000</span></div>
              <a href="#" class="btn-produk">add to cart</a>
          </div>
  
          <div class="box">
              <img src=".\static/sepatu7.jpeg" alt="">
              <h3>sepatu 7</h3>
              <div class="price">1.450.000 <span>1.550.000</span></div>
              <a href="#" class="btn-produk">add to cart</a>
          </div>
  
          <div class="box">
              <img src=".\static/sepatu8.jpeg" alt="">
              <h3>sepatu 8 </h3>
              <div class="price">800.000 <span>990.000</span></div>
              <a href="#" class="btn-produk">add to cart</a>
          </div>
  
  </section>

  

    {% include "footer.html"%}
    {% include "scripts.html "%}
    
</body>
</html>